#climateCtrl {
                    width: 245px;
                    height: 167px;
                    margin: 30px auto;
                    padding: 102px 0 0 156px;
                    background: url('img/climateController.png') transparent no-repeat 0 0;
                }

.humidity {
                    margin: 67px 0 0 15px;
                    width: 170px;
                }